{% extends "ui/base.html" %}
{% block title %}Devices | IoT Dashboard{% endblock %}
{% block content %}
  <h1 style="color:#1565c0;text-align:center;margin-bottom:30px;">Registered Devices</h1>

  <div class="card-container">
    {% if devices %}
      {% for d in devices %}
        <div class="card" style="max-width:340px;">
          <h3>{{ d.name }}</h3>
          <p>
            <strong>Connected to:</strong> {{ d.gateway }} <br>
            <small>{{ d.path }}</small>
          </p>
          <button onclick="window.location.href='{% url 'device_detail' d.name %}'">
            View Details
          </button>
        </div>
      {% endfor %}
    {% else %}
      <p>No devices registered.</p>
    {% endif %}
  </div>
{% endblock %}
